@{
}

@model IQueryable<string>

<div class="row">
    @foreach (var category in Model)
    {
    <div class="col">
        @if (ViewBag.category == category)
        {
            <a class="btn btn-primary w-100" asp-controller="Home" asp-action="Index" asp-route-category="@category">@category</a>
        }
        else 
        {
            <a class="btn btn-outline-primary w-100" asp-controller="Home" asp-action="Index" asp-route-category="@category">@category</a>
        }
    </div>
    }
</div>
