@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

<div class="container">
    <div class="row">
        <div class="col-12 text-center my-3">
            <h1>Books on Sale</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            Something here
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-12 text-left my-2">
                    <div page-info="@Model.PageInfo" page-action="Index"></div>
                </div>
            </div>
            <div class="row">
                @foreach (var book in Model.BooksToDisplay)
                {
                    <partial name="BookCard" model="book" />
                }
            </div>
        </div>
    </div> 
</div>